Repository keindev/tasktree, changes with the labels that .github/labeler.yml gives for each.
All labels: test, workflow, project, source, api, docs, example, media

.github/labeler.yml:

test:
  - src/__mocks__/**/*.test.ts
  - src/__tests__/**/*.test.ts

workflow:
  - .github/**/*
  - .gitignore
  - .npmignore

project:
  - package-lock.json
  - package.json
  - LICENSE

source:
  - any: ['src/**/*', '!src/cli/*', '!src/__mocks__/*', '!src/__tests__/*']

api:
  - bin/**/*
  - src/cli/**/*

docs:
  - any: ['docs/**/*', '*.md', '.ghinfo']

example:
  - example/**/*

media:
  - media/**/*

workflow: override configs for vscode & typedoc
  .config/.vscode/cspell.json
  .config/.vscode/launch.json
  .config/typedoc.json
  .gitignore
  package-lock.json
Labels: workflow, project

fix: fix stdout-update to 1.6.5
  .config/jest.modules.json
  package-lock.json
  package.json
Labels: project

build: bump to v4.0.2
  .ghinfo
  CHANGELOG.md
  docs/api/classes/progressbar.progressbar-1.md
  docs/api/classes/task.task-1.md
  docs/api/classes/tasktree.tasktree-1.md
  docs/api/interfaces/progressbar.iprogressbaroptions.md
  docs/api/interfaces/task.itaskoptions.md
  docs/api/interfaces/tasktree.itasktreeoptions.md
  package.json
Labels: project

test: fix progress bar test for NodeJS 15.x
  src/__tests__/ProgressBar.test.ts
Labels: test

build: bump to v4.0.3
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project
